name: UI tests  # Название workflow, отображается в интерфейсе GitHub Actions

#on:
#  push:
#    branches:
#      - main  # Запускаем workflow при пуше в ветку main
#  pull_request:
#    branches:
#      - main  # И при открытии pull request'а в main
# Для запуска тестов вручную
on:
  workflow_dispatch:
    inputs:
      deployment_target:
        description: choose tests set
        required: true
        type: choice
        default: smoke
        options:
          - smoke
          - regression
          - extended
          - all

jobs:
  run-tests:  # Джоб для запуска тестов
    runs-on: ubuntu-latest  # Используем последнюю версию Ubuntu как CI-окружение
    name: Run UI tests # Название джобы
    steps:
      - name: Check out repository
        uses: actions/checkout@v5  # Клонируем репозиторий в CI-окружение
        # Вводим actions/checkout@v5 в гугле и смотрим на github актуальную версию
      - name: Set up Python environment
        uses: actions/setup-python@v6  # Устанавливаем Python
        # Вводим actions/setup-python@v2 в гугле и смотрим на github актуальную версию
        with:
          python-version: '3.14'  # Указываем версию Python

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip  # Обновляем pip
          pip install -r requirements.txt  # Устанавливаем зависимости проекта
          playwright install --with-deps  # Устанавливаем Playwright и его зависимости

      - name: Run UI tests with pytest and generate Allure results
        run: pytest -v -n 3 --alluredir=allure-results

      - name: Upload Allure results
        if: always()  # Всегда выполняем (даже если предыдущий шаг упал)
        uses: actions/upload-artifact@v4  # Загружаем артефакт в CI
        with:
          name: allure-results  # Имя артефакта
          path: allure-results  # Путь к директории с результатами Allure

  publish-report:  # Джоб для публикации отчёта
    if: always()  # Джоба будет выполнена вне зависимости от успеха или неуспеха run-tests
    needs: [ run-tests ]  # Выполняется после успешного (или завершённого) run-tests
    runs-on: ubuntu-latest  # Тоже запускается в Ubuntu

    steps:
      - name: Check out repository
        uses: actions/checkout@v4  # Клонируем репозиторий
        with:
          ref: gh-pages  # Клонируем ветку gh-pages
          path: gh-pages  # Указываем путь, куда клонировать

      - name: Download Allure results
        uses: actions/download-artifact@v4  # Загружаем ранее загруженные результаты
        with:
          name: allure-results  # Имя артефакта
          path: allure-results  # Путь куда распаковать

      - name: Allure Report action from marketplace
        uses: simple-elf/allure-report-action@v1.12  # Генерируем Allure-отчёт
        if: always()  # Выполняем даже при ошибке
        with:
          allure_results: allure-results  # Путь к результатам
          allure_history: allure-history  # Папка с историей отчётов (для графиков и сравнения)

      - name: Deploy report to Github Pages
        if: always()  # Выполняем даже если предыдущие шаги упали
        uses: peaceiris/actions-gh-pages@v4  # Деплой на GitHub Pages
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}  # Используем встроенный GitHub токен
          publish_branch: gh-pages  # Ветка для публикации отчёта
          publish_dir: allure-history  # Папка с готовым HTML отчётом
